<mat-toolbar class="subtitulo">Cadastrar Produto da Atividade</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">

        <!-- CADASTRO DE RESERVA -->
        <mat-toolbar class="titulopartes">Cadastro de Reserva</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px"  fxFlexFill>
            <mat-form-field fxFlex="45%" fxFlexOffset="20px">
                <input matInput maxlength="200" name="descricao" placeholder="Descrição do Cadastro de Reserva:"
                    [(ngModel)]="cadastroReserva.descricaoCadastroReserva" >
            </mat-form-field>

            <mat-form-field fxFlex="45%" >
                <input matInput name="dataCadastroReserva" [matDatepicker]="dataCadastroReserva" placeholder="Data do Cadastro de Reserva:"
                    [(ngModel)]="cadastroReserva.dataCadastroReserva" >
                <mat-datepicker-toggle matSuffix [for]="dataCadastroReserva"></mat-datepicker-toggle>
                <mat-datepicker #dataCadastroReserva></mat-datepicker>
        </mat-form-field>

        </div>
       
        <!-- CANCELAMENTO -->
        <mat-toolbar class="titulopartes">Cancelamento do Cadastro Reserva</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" fxFlexFill>
            <mat-form-field fxFlex="45%" fxFlexOffset="20px">
                <input matInput maxlength="200" name="descricaoCancelamentoCadastro" placeholder="Descrição do Cancelamento do Cadastro:"
                    [(ngModel)]="cadastroReserva.descricaoCancelamentoCadastro">
            </mat-form-field>

            <mat-form-field fxFlex="45%" >
                <input matInput name="dataCancelamentoCadastro" [matDatepicker]="dataCancelamentoCadastro" placeholder="Data do Cancelamento do Cadastro:"
                    [(ngModel)]="cadastroReserva.dataCancelamentoCadastro" >
                <mat-datepicker-toggle matSuffix [for]="dataCancelamentoCadastro"></mat-datepicker-toggle>
                <mat-datepicker #dataCancelamentoCadastro></mat-datepicker>
        </mat-form-field>

        </div>
        
        <!-- ATIVIDADE -->
        <mat-toolbar class="titulopartes">Atividade</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" fxFlexFill>
            <mat-form-field fxFlexOffset="20px" fxFlex="45%">
                <mat-label>Atividade:</mat-label>
                <mat-select [(ngModel)]="cadastroReserva.atividade.id" name="atividade" required>
                    <mat-option *ngFor="let m of atividades" [value]="m.id">
                        {{m.descricao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="15%" >
                <input matInput name="dataCadastroAtividade" [matDatepicker]="dataCadastroAtividade" placeholder="Data de Cadastro da Atividade:"
                    [(ngModel)]="cadastroReserva.dataCadastroAtividade" >
                <mat-datepicker-toggle matSuffix [for]="dataCadastroAtividade"></mat-datepicker-toggle>
                <mat-datepicker #dataCadastroAtividade></mat-datepicker>
            </mat-form-field>
           
            <mat-form-field fxFlex="15%" >
                <input matInput name="dtAlteracaoAtividade" [matDatepicker]="dtAlteracaoAtividade" placeholder="Data de Alteração da Atividade:"
                    [(ngModel)]="cadastroReserva.dtAlteracaoAtividade" >
                <mat-datepicker-toggle matSuffix [for]="dtAlteracaoAtividade"></mat-datepicker-toggle>
                <mat-datepicker #dtAlteracaoAtividade></mat-datepicker>
            </mat-form-field>

        </div>

         <!-- PESSOA -->
         <mat-toolbar class="titulopartes">Pessoa</mat-toolbar>
         <div fxLayout="row" fxLayoutGap="50px" fxFlexFill>
             <mat-form-field fxFlexOffset="20px" fxFlex="45%">
                 <mat-label>Pessoas:</mat-label>
                 <mat-select [(ngModel)]="cadastroReserva.pessoasFisica.id" name="pessoafisica" required>
                     <mat-option *ngFor="let m of pessoas" [value]="m.id">
                         {{m.nome}}
                     </mat-option>
                 </mat-select>
             </mat-form-field>
          </div>


        <!-- BOTÕES -->
        <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
            fxFlexFill>
            <button mat-raised-button name="botaoConfirmar" fxFlex="20%" color="primary"
                [disabled]="formCadastro.invalid" (click)="isAtualizar ? atualizar() : cadastrar()">
                {{getNomeBotao()}}
            </button>

            <button *ngIf="!isAtualizar" mat-raised-button fxFlex="20%" color="primary" (click)="limpar()">
                Limpar
            </button>

            <button mat-raised-button fxFlex="20%" color="primary" (click)="cancelar()">
                Cancelar
            </button>

        </div>
    </form>


</div>

