<a mat-list-item (click)="toggle()">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" [ngClass]="{'expandido': menuPrincipalService.expandido}">
        <div fxLayout="row" fxLayoutAlign="start stretch" matTooltip="Módulo Pegagógico">
            <mat-icon>local_library</mat-icon>
            <span *ngIf="menuPrincipalService.expandido" class="nav-caption">Pedagógico</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <mat-icon *ngIf="menuPrincipalService.expandido" style="padding-top: 2px">{{getIcone()}}</mat-icon>
        </div>
    </div>
</a>

<mat-nav-list [ngClass]="{'expandido': menuPrincipalService.expandido}">

    <div [hidden]="!isMostrarSubMenu" [@menuState]="currentState">

        <!-- ATIVIDADE -->
        <sub-menu icone="chrome_reader_mode" titulo="Atividade" rota="atividade" toolTip="Atividade"></sub-menu>
        
        <!-- DOCUMENTOS ATIVIDADE -->
        <sub-menu icone="block" titulo="Documentos da Atividade" rota="documentoatividade" toolTip="Documentos da Atividade"></sub-menu>

        <!-- ALUNO -->
        <sub-menu icone="face" titulo="Aluno" rota="aluno" toolTip="aluno"></sub-menu>

        <!-- CARGO -->
        <sub-menu icone="highlight_off" titulo="Cargo" rota="cargo" toolTip="Cargos"></sub-menu>

        <!-- FAMILIARES -->
        <sub-menu icone="supervised_user_circle" titulo="Familiar" rota="familiaraluno" toolTip="Familiar do Aluno"></sub-menu>

        <!-- RESPONSÁVEL DO ALUNO -->
        <sub-menu icone="supervisor_account" titulo="Responsável" rota="responsavelaluno" toolTip="Responsável do Aluno"></sub-menu>

        <!-- SITUACAO DE VULNERABILIDADE -->
        <sub-menu icone="sentiment_dissatisfied" titulo="Situação de Vulnerabilidade" rota="situacaovulnerabilidade" toolTip="Situação de Vulnerabilidade"></sub-menu>

        <!-- DIAGNOSTICO DE ATENDIMENTO -->
        <sub-menu icone="ballot" titulo="Diagnóstico de Atendimento" rota="diagnosticoatendimento" toolTip="Diagnóstico de Atendimento"></sub-menu>

        <!-- SOLUÇÕES DE ATENDIMENTO -->
        <sub-menu icone="insert_invitation" titulo="Soluções de Atendimentos" rota="solucaoatendimento" toolTip="Soluções de Atendimentos"></sub-menu>

        <!-- VULNERABILIDADE DO FAMILIAR -->
        <sub-menu icone="show_chart" titulo="Vulnerabilidade do Familiar" rota="vulnerabilidadefamiliar" toolTip="Vulnerabilidade do Familiar"></sub-menu>

        <!-- VULNERABILIDADE DO ALUNO -->
        <sub-menu icone="sentiment_very_dissatisfied" titulo="Vulnerabilidade do Aluno" rota="vulnerabilidadealuno" toolTip="Vulnerabilidade do Aluno"></sub-menu>

        <!-- ENTIDADES SOCIAIS -->
        <sub-menu icone="home_work" titulo="Entidade Social" rota="entidadesocial" toolTip="Entidade Social"></sub-menu>

        <!-- ENCAMINHAMENTO DO ALUNO -->
        <sub-menu icone="arrow_right_alt" titulo="Encaminhamento Aluno" rota="encaminhamentoaluno" toolTip="Encaminhamento do Aluno"></sub-menu>

        <!-- REPROVAÇÕES DO ALUNO -->
        <sub-menu icone="event_busy" titulo="Reprovações do Aluno" rota="reprovacaoaluno" toolTip="Reprovações do Aluno"></sub-menu>

        <!-- ATIVIDADES DO ALUNO -->
        <sub-menu icone="sports_handball" titulo="Atividades do Aluno" rota="atividadealuno" toolTip="Atividades do Aluno"></sub-menu>

        <!-- FREQUENCIA DO ALUNO -->
        <sub-menu icone="check_circle_outline" titulo="Frequência do Aluno" rota="frequenciaaluno" toolTip="Frequência do Aluno"></sub-menu>

        <!-- UNIFORME ENTREGUE AO ALUNO -->
        <sub-menu icone="wc" titulo="Uniforme entregue Aluno" rota="uniformeentregue" toolTip="Uniforme entregue ao Aluno"></sub-menu>

        <!-- AVALIAÇÕES DAS ATIVIDADES -->
        <sub-menu icone="done_all" titulo="Avaliação da Atividade" rota="avaliacaoatividade" toolTip="Avaliações das Atividades"></sub-menu>

        <!-- AVALIAÇÕES DO ALUNO -->
        <sub-menu icone="done" titulo="Avaliação do Aluno" rota="avaliacaoaluno" toolTip="Avaliações do Aluno"></sub-menu>

        <!-- ALUNO QUE ESTÁ TRABALHANDO -->
        <sub-menu icone="accessibility" titulo="Aluno Trabalhando" rota="alunotrabalhando" toolTip="Aluno que está trabalhando"></sub-menu>

        <!-- ATENDIMENTOS -->
        <sub-menu icone="perm_phone_msg" titulo="Atendimento" rota="atendimento" toolTip="Atendimentos"></sub-menu>

        <!-- PARTICIPANTES DOS ATENDIMENTOS -->
        <sub-menu icone="people_outline" titulo="Participante do Atendimento" rota="participanteatendimento" toolTip="Participantes dos Atendimentos"></sub-menu>

    </div>

</mat-nav-list>
