<a mat-list-item (click)="toggle()">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" style="width: 260px">
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <mat-icon>search</mat-icon>
            <span class="nav-caption">Consultar</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <mat-icon style="padding-top: 2px">chevron_right</mat-icon>
        </div>
    </div>
</a>
<div [hidden]="!isMostrarSubMenu">
    <mat-action-list class="submenu" *ngIf="possuiPermissaoCurso()" [@mostrarMenu]="currentState">
        <button mat-list-item style="font-family: initial" [routerLink]="['/aluno']" routerLinkActive="router-link-active"> Consultar Curso </button>
    </mat-action-list>
</div>
