<mat-toolbar class="subtitulo">Colaborador Programa</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">

        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <!-- DATA -->
            <div id="data" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="50%">
                <mat-toolbar class="titulopartes">Data</mat-toolbar>
                <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

                    <mat-form-field fxFlex="35%" fxFlexOffset="20px">
                        <input matInput name="dataInicio" [matDatepicker]="dataInicio" placeholder="Data de Início:"
                            [(ngModel)]="colaboradoresPrograma.dataInicio" required>
                        <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
                        <mat-datepicker #dataInicio></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field fxFlex="35%" fxFlexOffset="20px">
                        <input matInput name="dataFim" [matDatepicker]="dataFim" placeholder="Data Fim:"
                            [(ngModel)]="colaboradoresPrograma.dataFim" >
                        <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>
                        <mat-datepicker #dataFim></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <!-- FUNCIONÁRIO -->
            <div id="data" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="50%" fxFlexFill>
                <mat-toolbar class="titulopartes">Funcionários</mat-toolbar>
                <mat-form-field style="margin-left: 20px; margin-right: 20px">
                    <mat-label>>Matrícula - Funcionário</mat-label>
                    <mat-select [(ngModel)]="colaboradoresPrograma.funcionario.id" name="funcionario" required>
                        <mat-option *ngFor="let m of funcionarios" [value]="m.id">
                            {{m.matricula}} - {{m.pessoasFisica.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <!-- PROGRAMA -->
            <div id="data" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="50%">
                <mat-toolbar class="titulopartes">Programas</mat-toolbar>
                <mat-form-field style="margin-left: 20px; margin-right: 20px">
                    <mat-label>Programa</mat-label>
                    <mat-select [(ngModel)]="colaboradoresPrograma.programa.id" name="programa" required>
                        <mat-option *ngFor="let m of programas" [value]="m.id">
                            {{m.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- CARGO -->
            <div id="data" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="50%" fxFlexFill>
                <mat-toolbar class="titulopartes">Cargos</mat-toolbar>
                <mat-form-field style="margin-left: 20px; margin-right: 20px">
                    <mat-label>Código - Cargo</mat-label>
                    <mat-select [(ngModel)]="colaboradoresPrograma.cargo.id" name="cargo" required>
                        <mat-option *ngFor="let m of cargos" [value]="m.id">
                            {{m.codigo}} - {{m.nome}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>


       <!-- BOTOES -->
   <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>
    <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="cadastrar()"> Cadastrar
    </button>

    <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="atualizar()">
            Atualizar
    </button>

    <button *ngIf="mostrarBotaoLimpar()"
            mat-raised-button
            fxFlex="20%"
            (click)="limpar()">
            Limpar
    </button>
    <button
            mat-raised-button
            fxFlex="20%"
            (click)="cancelar()">
            Cancelar
    </button>

</div>
    </form>


</div>
