<form #formLogin="ngForm" class="example-container mat-elevation-z1 tela-login" style="padding: 10px;">
        <div fxLayout="column" fxLayoutAlign="space-around center" class="login-logo">
                <mat-icon class="logo-empresa"></mat-icon>
        </div>  
             
        <div fxLayout="column" fxLayoutAlign="space-around center">
            <h1 class="sign-in-title-greeting">Alterar Senha</h1>
         </div>  
                
         <div class="elemento" fxLayout="column" fxLayoutAlign="space-around center" >
             <mat-form-field style="width: 100%">
                <input matInput name="userName" [(ngModel)]="login" placeholder="Insira seu login" required>
            </mat-form-field>
         </div>     
          
          <div class="elemento" fxLayout="column" fxLayoutAlign="space-around center" >
            <mat-form-field style="width: 100%">
                <input matInput name="senha" [(ngModel)]="senhaAtual" type="password" placeholder="Insira sua senha atual" required>
            </mat-form-field>
          </div>     
          
          <div class="elemento" fxLayout="column" fxLayoutAlign="space-around center" >
                <mat-form-field style="width: 100%">
                    <input matInput name="senha" [(ngModel)]="novaSenha" type="password" placeholder="Insira nova senha" required>
                </mat-form-field>
           </div>     

           <div class="elemento" fxLayout="column" fxLayoutAlign="space-around center" >
                <mat-form-field style="width: 100%">
                    <input matInput name="senha" [(ngModel)]="confirmacaoNovaSenha" type="password" placeholder="Confirme a nova senha" required>
                </mat-form-field>
           </div>     

            <div class="elemento" fxLayout="column" fxLayoutAlign="space-around center"  style=" padding-bottom: 20px;  padding-top: 20px;"> 
                    <button mat-raised-button 
                            style="width: 100%" 
                            color="primary" 
                            (click)="alterarSenha()"
                            [disabled]="formLogin.invalid"
                            >
                    Alterar</button>
            </div>  
            
               
           
    </form>