<div class="mat-elevation-z1 tela-upload">
        <mat-toolbar>Unidade</mat-toolbar>
        <div fxLayout="column" class="painel-foto" [ngClass]="{'nao-foto': croppedImage == ''}" fxLayoutAlign="center center" >
                <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="4 / 3"
                [resizeToWidth]="128"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
   
        <div fxLayout="row" fxLayoutAlign="start start" style="padding-left: 20px; padding-bottom: 10px;">
            <fieldset style="width: 85%">
                    <button mat-button class="upload" for="uploadFile">
                        <mat-icon >add_photo_alternate</mat-icon> 
                        <label for="uploadFile" mat-button color="warn">
                        SELECIONE
                        </label>
                    </button>
                    <input type="file" id="uploadFile" name="uploadFile" style="display:none;" (change)="fileChangeEvent($event)"/>
                    <span style="padding-left: 15px; padding-top: 10px">
                        {{nomeArquivo == null ? "Nenhum arquivo selecionado" : nomeArquivo}}
                    </span>
            </fieldset>
        </div>
        
        <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 35px" >

                <button mat-raised-button name="botaoConfirmar"  fxFlex= "30%" color="primary" (click)="salvar()">
                    Salvar</button>
                
                <button mat-raised-button fxFlex= "30%" color="primary" (click)="cancelar()">
                    Cancelar</button>

    </div>
</div>

<!-- <img [src]="croppedImage" /> -->
