
    <mat-action-list class="submenu" *ngIf="possuiPermissao('insere')" [@mostrarSubMenu]="currentState">
        <button mat-list-item style="font-family: initial" [routerLink]="getRouterLink('cadastrar')" routerLinkActive="router-link-active"> Cadastrar </button>
    </mat-action-list>
    <mat-action-list class="submenu" *ngIf="possuiPermissao('altera')" [@mostrarSubMenu]="currentState">
        <button mat-list-item style="font-family: initial" [routerLink]="getRouterLink('alterar')" routerLinkActive="router-link-active"> Alterar </button>
    </mat-action-list>
    <mat-action-list class="submenu" *ngIf="possuiPermissao('consulta')" [@mostrarSubMenu]="currentState">
        <button mat-list-item style="font-family: initial" [routerLink]="getRouterLink('consultar')" routerLinkActive="router-link-active"> Consultar </button>
    </mat-action-list>
    <mat-action-list class="submenu" *ngIf="possuiPermissaoDeletar('deleta')" [@mostrarSubMenu]="currentState">
        <button mat-list-item style="font-family: initial" [routerLink]="getRouterLink('deletar')" routerLinkActive="router-link-active"> Deletar </button>
    </mat-action-list>
