
    <mat-action-list class="submenu" *ngIf="possuiPermissaoCadastrar()" [@mostrarSubMenu]="currentState">
        <button mat-list-item style="font-family: initial" [routerLink]="getRouterLinkCadastrar()" routerLinkActive="router-link-active"> Cadastrar </button>
    </mat-action-list>
    <mat-action-list class="submenu" *ngIf="possuiPermissaoAlterar()" [@mostrarSubMenu]="currentState">
        <button mat-list-item style="font-family: initial" [routerLink]="getRouterLinkAlterar()" routerLinkActive="router-link-active"> Alterar </button>
    </mat-action-list>
    <mat-action-list class="submenu" *ngIf="possuiPermissaoConsultar()" [@mostrarSubMenu]="currentState">
        <button mat-list-item style="font-family: initial" [routerLink]="getRouterLinkConsultar()" routerLinkActive="router-link-active"> Consultar </button>
    </mat-action-list>
    <mat-action-list class="submenu" *ngIf="possuiPermissaoDeletar()" [@mostrarSubMenu]="currentState">
        <button mat-list-item style="font-family: initial" [routerLink]="getRouterLinkDeletar()" routerLinkActive="router-link-active"> Deletar </button>
    </mat-action-list>
