<mat-toolbar class="subtitulo">Programa</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">

        <!-- DADOS INICIAIS -->
        <mat-toolbar class="titulopartes">Dados Iniciais</mat-toolbar>
        <div fxLayout="row" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            <mat-form-field fxFlex= "95%" fxFlexOffset="20px" >
                  <input matInput maxlength="200"  name="nome" placeholder="Nome :" [(ngModel)]="programa.nome" required>
             </mat-form-field>
        </div>

        <div fxLayout="row" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
             <mat-form-field fxFlex= "95%" fxFlexOffset="20px" >
                  <input matInput maxlength="200"  name="descricao" placeholder="Descrição:" [(ngModel)]="programa.descricao" required>
             </mat-form-field>
        </div>

        <!-- DATA -->
        <mat-toolbar class="titulopartes">Data</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <mat-form-field fxFlex= "45%" fxFlexOffset="20px" >
                    <input matInput name= "dtImplantacao" [matDatepicker]="dtImplantacao" placeholder="Data de Início" [(ngModel)]="programa.dataInicio" required>
                    <mat-datepicker-toggle matSuffix [for]="dtImplantacao"></mat-datepicker-toggle>
                    <mat-datepicker #dtImplantacao></mat-datepicker>
             </mat-form-field>

             <mat-form-field fxFlex= "46%">
                    <input matInput name= "dtTermino" [matDatepicker]="dtTermino" placeholder="Data Fim" [(ngModel)]="programa.dataFim">
                    <mat-datepicker-toggle matSuffix [for]="dtTermino"></mat-datepicker-toggle>
                    <mat-datepicker #dtTermino></mat-datepicker>
             </mat-form-field>

        </div>

         <!-- FUNCIONARIO -->
         <mat-toolbar class="titulopartes">Funcionário</mat-toolbar>
         <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
                <mat-form-field fxFlexOffset="20px" fxFlex= "95%" >
                        <mat-label>Funcionario:</mat-label>
                        <mat-select [(ngModel)]="programa.idCoordenador" name="funcionarios" required>
                            <mat-option *ngFor="let f of funcionarios" [value]="f.id" >
                              {{f.nome}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>

         </div>

           <!-- FAIXA ETÁRIA -->
        <mat-toolbar class="titulopartes">Faixa Etária</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <mat-form-field fxFlex= "45%" fxFlexOffset="20px" >
                  <input matInput type="number" maxlength="2"  name="faixainicio" placeholder="Faixa Etária Início :" [(ngModel)]="programa.faixaEtariaInicio" required>
             </mat-form-field>

             <mat-form-field fxFlex= "45%" fxFlexOffset="20px" >
                  <input matInput type="number" maxlength="2"  name="faixafim" placeholder="Faixa Etária Fim:" [(ngModel)]="programa.faixaEtariaFim" required>
             </mat-form-field>

        </div>

         <!-- OBJETIVO -->
         <mat-toolbar class="titulopartes">Objetivo</mat-toolbar>
         <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
                <mat-form-field fxFlexOffset="20px" fxFlex= "95%" >
                        <mat-label>Objetivo:</mat-label>
                        <mat-select [(ngModel)]="programa.objetivo.idObjetivo" name="objetivo" required>
                            <mat-option *ngFor="let o of objetivos" [value]="o.idObjetivo" >
                              {{o.nome}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>

         </div>

         <!-- INICIATIVA -->
         <mat-toolbar class="titulopartes">Iniciativa</mat-toolbar>
         <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
                <mat-form-field fxFlexOffset="20px" fxFlex= "95%" >
                        <mat-label>Iniciativa:</mat-label>
                        <mat-select [(ngModel)]="programa.iniciativa.id" name="iniciativa" required>
                            <mat-option *ngFor="let i of iniciativas" [value]="i.id" >
                              {{i.nome}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>

         </div>

       <!-- BOTOES -->
   <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>
    <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="cadastrar()"> Cadastrar
    </button>

    <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="atualizar()">
            Atualizar
    </button>

    <button *ngIf="mostrarBotaoLimpar()" 
            mat-raised-button 
            fxFlex="20%" 
            (click)="limpar()">
            Limpar
    </button>
    <button 
            mat-raised-button 
            fxFlex="20%" 
            (click)="cancelar()">
            Cancelar
    </button>

</div>
    </form>


</div>

