<a mat-list-item (click)="toggle()" >
    <div fxLayout="row" fxLayoutAlign="space-between stretch" [ngClass]="{'expandido': menuPrincipalService.expandido}">
        <div fxLayout="row" fxLayoutAlign="start stretch" matTooltip="Secretaria">
            <mat-icon>supervisor_account</mat-icon>
            <span *ngIf="menuPrincipalService.expandido"  class="nav-caption">Secretaria</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <mat-icon *ngIf="menuPrincipalService.expandido" style="padding-top: 2px">{{getIcone()}}</mat-icon>
        </div>
    </div>
</a>
<mat-nav-list [ngClass]="{'expandido': menuPrincipalService.expandido}">

    <div [hidden]="!isMostrarSubMenu" [@menuState]="currentState">

        <!-- *ngIf="verificaAcesso(getModulos().CURSO_FORMACAO)"-->

        <!-- ALUNO -->
       <sub-menu icone="library_books" titulo="Aluno" rota="aluno" toolTip="Aluno"></sub-menu>
       
        <!-- ENCAMINHAMENTO ALUNO -->
       <sub-menu icone="library_books" titulo="Origem do Aluno" rota="encaminhamentoaluno" toolTip="Origem do Aluno"></sub-menu>
       
        <!-- FAMILIAR -->
       <sub-menu icone="library_books" titulo="Familiar" rota="familiaraluno" toolTip="Familiar"></sub-menu>
       
        <!-- CADASTRO RESERVA -->
       <sub-menu icone="library_books" titulo="Alunos Reservas da Atividade" rota="cadastroreservaatividade" toolTip="Alunos Reservas da Atividade"></sub-menu>
       
        <!-- UNIFORME ENTREGUE -->
       <sub-menu icone="library_books" titulo="Uniforme Entregue ao Aluno" rota="uniformeentregue" toolTip="Uniforme Entregue ao Aluno"></sub-menu>

        <!-- REFERENCIA SECRETARIA -->
       <tb-referencia-secretaria></tb-referencia-secretaria>

       

    </div>
</mat-nav-list>
