.painel-principal{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.center {
    margin-bottom: 20px;
    text-align: center;
  }

  .painel-consultar{
   margin: 0 25px 20px 25px
}


tr.mat-row:hover {
    background-color: rgba(187, 222, 251, .3);
  }

table {
    width: 100%;
}

table.mat-table {
    overflow: hidden;
    border-collapse: collapse;
}

table.coloridas.mat-table {
    position: relative;
    border-collapse: collapse;
}

table.mat-table th.mat-column mat-icon.mat-sort-icon {
    display: none;
}

table.mat-table th.mat-column.mat-active mat-icon.mat-sort-icon {
    display: inline-block;
}

table.mat-table.mat-row-select tbody.mat-body>tr.mat-row.urgente:not([disabled]):hover,
table.mat-table.mat-row-select tbody.mat-body>tr.mat-row.mat-selected.urgente {
    background-color: #FFE082 !important;
}

th.mat-header-cell {
    padding-right: 1.5rem !important;
    vertical-align: middle !important;;
    text-align: left !important;
}

th.mat-header-cell .mat-sort-header-button {
    line-height: 16px;
}

table.mat-table td.mat-cell,
table.mat-table td.mat-footer-cell,
table.mat-table th.mat-header-cell {
    padding: 0 4px;
    flex-wrap: wrap;
}

table.mat-table td.mat-cell:first-of-type,
table.mat-table td.mat-footer-cell:first-of-type,
table.mat-table th.mat-header-cell:first-of-type {
    padding-left: 24px;
}

table.mat-table td.mat-cell:last-of-type,
table.mat-table td.mat-footer-cell:last-of-type,
table.mat-table th.mat-header-cell:last-of-type {
    padding-right: 24px;
}


tr.mat-header-row.ng-star-inserted,
div.inserted {
    padding: 15px 0 15px 28px;
    background: rgb(213, 226, 253);
    color: rgba(0, 0, 0, 0.87);
    justify-content:center;
}


tbody.mat-body.ng-enter {
    transition: .5s linear all;
    opacity: 0;
    position: absolute;
}

tbody.mat-body.ng-enter.ng-enter-active {
    opacity: 1;
    position: relative;
}

tbody.mat-body.ng-leave {
    transition: .5s linear all;
    position: relative;
    opacity: 1;
}

tbody.mat-body.ng-leave.ng-leave-active {
    opacity: 0;
    position: absolute;
}

/* Largura das colunas */

.mat-header-cell,
.mat-cell {
    flex-grow: 1;
    flex-shrink: 1;
}

.mat-column-acoes {
    flex: 0 0 40px;
    white-space: unset;
}

.mat-column-dataReferenciaTriagem,
.mat-column-data {
    flex: 0 0 100px;
    max-width: 5.8rem;
}


mat-panel-title.mat-expansion-panel-header-title h2 {
  margin: 0 !important;
  font-size: 20px;
  font-weight: 400;
}

figure.mat-figure {
    align-items: flex-start  !important;
    justify-content: flex-start !important;
    box-sizing: border-box;
}


.mat-toolbar h2, .mat-toolbar h3 {
    font-weight: normal !important;
}

mat-toolbar.mat-table-toolbar form > input {
    width: calc(100% - 1rem);
    margin: 0;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 1rem;
}

mat-toolbar.mat-table-toolbar form > input:focus,
mat-icon:focus,
span.icone:focus {
    outline: none;
}

mat-tooltip {
    font-size: .8rem;
}

.mat-tooltip {
    white-space: pre-line;
    height: auto;
    max-width: fit-content !important;
}


.maozinha {
    cursor: pointer !important;
}

.toolbar-principal {
    background-color: #fff !important;
    margin: 0 !important;
    padding: 0 !important;
}

.animate {
    transition: .2s linear all;
}

.animate.ng-enter,
.animate.ng-hide {
    opacity: 0;
    background-color: rgb(187, 222, 251);
}

.animate.ng-enter.ng-enter-active,
.animate.ng-hide.ng-hide-active {
    opacity: 1;
    background-color: #FFF;
}

.animate.ng-leave,
.animate.ng-show {
    opacity: 1;
    background-color: #FFF;
}

.animate.ng-leave.ng-leave-active,
.animate.ng-show.ng-show-active {
    opacity: 0;
    background-color: rgb(187, 222, 251);
}


mat-toolbar.mat-toolbar.mat-toolbar-single-row{
    background: rgb(213, 226, 253);
    
}