<mat-toolbar class="tituloprincipal">Cadastrar Unidade</mat-toolbar>

<div class="mat-elevation-z1 painel-principal" style="padding: 10px;">
    
    <!-- DADOS INICIAIS -->
    <form #formCadastroUnidade="ngForm" >
            <mat-toolbar class="titulopartes">Dados Iniciais</mat-toolbar>
        
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
                <mat-form-field fxFlex= "20%" fxFlexOffset="20px" >
                        <input matInput maxlength="50" [(ngModel)]="unidade.siglaUnidade" name="siglaUnidade" placeholder="Sigla:" required [disabled]="isAtualizar">
               </mat-form-field>

               <mat-form-field fxFlex= "72%"  >
                    <input matInput maxlength="100" [(ngModel)]="unidade.nomeUnidade" name="nomeUnidade" placeholder="Nome da Unidade:" required [disabled]="isAtualizar"> 
               </mat-form-field>
        </div>
        
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
           
            <mat-form-field fxFlexOffset="20px" fxFlex= "20%"  >
                <input matInput [(ngModel)]="unidade.cnpj" name="cnpj" placeholder="CNPJ:" [textMask]="{mask: maskCNJP}" > 
           </mat-form-field>

            <mat-form-field fxFlex= "72%"  >
                    <input matInput maxlength="200" [(ngModel)]="unidade.nomeFantasia" name="nomeFantasia" placeholder="Nome Fantasia:"  >
           </mat-form-field>

          
    </div>
   
    <!-- TIPO / SITUAÇÃO -->
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
                <mat-form-field fxFlex= "20%" fxFlexOffset="20px">
                        <mat-label>Tipo: </mat-label>
                        <mat-select name="tipoUnidades" [(ngModel)]="unidade.tipoUnidade" >
                            <mat-option *ngFor="let t of tiposUnidade" [value]="t.tipoUnidade">
                                {{t.tipoUnidade}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex= "72%" >
                            <mat-label>Classificador da situação do Imóvel:</mat-label>
                            <mat-select [(ngModel)]="unidade.classificacaoSituacaoImovel" name="classificacaoSituacaoImovel">
                                <mat-option *ngFor="let s of situacoesImovel" [value]="s.tipo">
                                    {{s.tipo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
        </div>

        <!-- INSCRIÇÃO -->
        <mat-toolbar class="titulopartes">Inscrição</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            
           <mat-form-field fxFlex= "40%" fxFlexOffset="20px">
               <input type="text" matInput maxlength="20" [(ngModel)]="unidade.numeroInscricaoEstadual" name="numeroInscricaoEstadual" placeholder="Numero Inscrição Estadual:" [textMask]="{mask: maskCep}" />
           </mat-form-field>

           <mat-form-field fxFlex= "52%" fxFlexOffset="20px">
            <input type="text" matInput maxlength="20" [(ngModel)]="unidade.numeroInscricaoMunicipal" name="numeroInscricaoMunicipal" placeholder="Numero Inscrição Municipal:" [textMask]="{mask: maskCep}" />
        </mat-form-field>
                
        </div>


        <!-- ENDEREÇO -->
        <mat-toolbar class="titulopartes">Endereço</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            
           <mat-form-field fxFlex= "10%" fxFlexOffset="20px">
               <input type="text" matInput  [(ngModel)]="unidade.cep" name="cep" placeholder="CEP:" [textMask]="{mask: maskCep}" />
           </mat-form-field>
                
           <mat-form-field fxFlex= "60%" >
                <input matInput maxlength="200" [(ngModel)]="unidade.endereco" name="endereco" placeholder="Endereço:" >
           </mat-form-field>

           <mat-form-field fxFlex= "5%" fxFlexOffset="20px">
                <mat-label>UF: </mat-label>
                <mat-select name="uf" [(ngModel)]="unidade.uf">
                    <mat-option *ngFor="let e of estados" [value]="e">
                        {{e}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex= "25%" >
                <input matInput maxlength="200" [(ngModel)]="unidade.cidade" name="cidade" placeholder="Cidade:" >
           </mat-form-field>
           
           <mat-form-field fxFlex= "20%" style="padding-right: 20px">
                <input matInput maxlength="200" [(ngModel)]="unidade.bairro" name="bairro" placeholder="Bairro:" >
           </mat-form-field>
        </div>

        <!-- CONTATO -->
        <mat-toolbar class="titulopartes">Contato</mat-toolbar>

        <div fxLayout="row" fxLayoutGap="50px" fxFlexFill>
                    
                    <!-- TELEFONES -->
                <div fxLayout="column" fxFlex= "30%" fxFlexOffset="20px" style="border-color:transparent;">
                        <mat-form-field >
                            <input matInput  [(ngModel)]="unidade.telefone" name="telefoneFixo" placeholder="Telefone Fixo:" [textMask]="{mask: maskPhone}">
                        </mat-form-field>
                             
                        <mat-form-field>
                             <input matInput [(ngModel)]="unidade.celular" name="celular" placeholder="Celular:" [textMask]="{mask: maskPhone}">
                        </mat-form-field>
                </div>
                    <!-- EMAIL -->
                    <div fxLayout="column" fxFlex= "62%" style="border-color:transparent;">
                                <mat-form-field >
                                    <input matInput maxlength="100" [(ngModel)]="unidade.email" name="email" placeholder="Email:" >
                                </mat-form-field>
                                     
                                <mat-form-field>
                                     <input matInput maxlength="100" [(ngModel)]="confirmacaoEmail" name="confirmacaoEmail" placeholder="Confirmação do email:" [required]="unidade.email">
                                </mat-form-field>
                     </div>
        </div>

         <!-- HOME PAGE -->
        <mat-form-field  fxLayout="column" style="padding-left: 20px; padding-right: 33px; " fxFlexFill>
            <input matInput maxlength="200" [(ngModel)]="unidade.homePage" name="homePage" placeholder="Home Page: " >
        </mat-form-field>

        <!-- DESCRIÇÃO -->
        <mat-toolbar class="titulopartes">Descrição</mat-toolbar>
        <mat-form-field  fxLayout="column" style="padding-left: 20px; padding-right: 20px">
                <input matInput maxlength="200" [(ngModel)]="unidade.descricaoSituacaoImovel" name="descricaoSituacaoImovel" placeholder="Situação do Imóvel: " >
            </mat-form-field>
                 
            <mat-form-field fxLayout="column" style="padding-left: 20px; padding-right: 20px">
                 <input matInput maxlength="200" [(ngModel)]="unidade.descricaoEstruturaFisicaImovel" name="descricaoEstruturaFisicaImovel" placeholder="Estrutura FÍsica do Imóvel:" >
            </mat-form-field>

        <!-- VALORES -->
        <mat-toolbar class="titulopartes">Valores</mat-toolbar>
        <mat-form-field  fxLayout="column" style="padding-left: 20px; padding-right: 20px; ">
                <input matInput maxlength="1000" [(ngModel)]="unidade.visao" name="visao" placeholder="Visão: " >
            </mat-form-field>
                 
            <mat-form-field fxLayout="column" style="padding-left: 20px; padding-right: 20px">
                 <input matInput maxlength="1000" [(ngModel)]="unidade.missao"  name="missao" placeholder="Missão:" >
            </mat-form-field>

            <!-- BOTÕES -->
            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>

                        <button mat-raised-button name="botaoConfirmar"  fxFlex= "20%" color="primary" [disabled]="formCadastroUnidade.invalid" (click)="cadastrar()">
                            {{getNomeBotao()}}</button>
                        
                        <button mat-raised-button fxFlex= "20%" color="primary" (click)="limpar()" *ngIf="!isAtualizar">
                            Limpar</button>
                        
                        <button mat-raised-button fxFlex= "20%" color="primary" (click)="cancelar()">
                            Cancelar</button>

            </div>
        </form>
</div>
