.painel-principal{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}
.center {
    margin-bottom: 20px;
    text-align: center;
  }

  .painel-consultar{
   margin: 0 25px 20px 25px
}



mat-toolbar.mat-toolbar.mat-toolbar-single-row.tituloprincipal{
    background: rgb(213, 226, 253);
    
}

mat-toolbar.mat-toolbar.mat-toolbar-single-row.titulopartes{
    background: rgb(241, 241, 241);
    height: auto;
    font-size: large;
    color: rgb(142,142,142)
    
}

