
<h2 mat-dialog-title>{{pergunta}}</h2>

<mat-dialog-content fxLayout="column">
    <div style="padding-bottom: 0.5rem">
        <label *ngIf="textoAuxiliar">{{textoAuxiliar}}</label>
    </div>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
    <button mat-button (click)="cancela()"> {{textoCancela}}</button>
    <button mat-button (click)="confirma()">{{textoConfirma}}</button>
</mat-dialog-actions>


<!-- <div class="botoes" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
     
    <button mat-raised-button style="width: 80%" color="primary" routerLink="" routerLinkActive="router-link-active">
        Cancelar</button>

    <button mat-raised-button style="width: 80%" color="primary" (click)="alterarSenha()"
        [disabled]="formLogin.invalid">
        Alterar</button>
</div> -->