<!-- <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" fxFlexFill>

                
    <mat-form-field fxFlex="100%" fxFlexOffset="20px">
            <mat-icon matPrefix>search</mat-icon>
        <mat-label fxFlexOffset="20px">Selecione um colaborador</mat-label>
        <mat-select fxFlexOffset="20px" [(ngModel)]="colaboradores" name="indicador">
            <mat-option *ngFor="let d of listaColaboradores" [value]="d">
                {{d.funcionario.pessoasFisica.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div> -->
