<mat-toolbar class="subtitulo">Iniciativas</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">

        <!-- DADOS INICIAIS -->
        <mat-toolbar class="titulopartes">Dados Iniciais</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <mat-form-field fxFlex= "95%" fxFlexOffset="20px" >
                  <input matInput maxlength="200"  name="nome" placeholder="Nome da Iniciativa:" [(ngModel)]="iniciativa.nome" required>
             </mat-form-field>

        </div>

        <!-- DATA -->
        <mat-toolbar class="titulopartes">Data</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <mat-form-field fxFlex= "45%" fxFlexOffset="20px" >
                    <input matInput name= "dtImplantacao" [matDatepicker]="dtImplantacao" placeholder="Data de Início" [(ngModel)]="iniciativa.dataInicio" required>
                    <mat-datepicker-toggle matSuffix [for]="dtImplantacao"></mat-datepicker-toggle>
                    <mat-datepicker #dtImplantacao></mat-datepicker>
             </mat-form-field>

             <mat-form-field fxFlex= "46%">
                    <input matInput name= "dtTermino" [matDatepicker]="dtTermino" placeholder="Data Fim" [(ngModel)]="iniciativa.dataFim">
                    <mat-datepicker-toggle matSuffix [for]="dtTermino"></mat-datepicker-toggle>
                    <mat-datepicker #dtTermino></mat-datepicker>
             </mat-form-field>

        </div>

         <!-- METAS -->
         <mat-toolbar class="titulopartes">Metas</mat-toolbar>
         <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
                <mat-form-field fxFlexOffset="20px" fxFlex= "95%" >
                        <mat-label>Metas:</mat-label>
                        <mat-select [(ngModel)]="iniciativa.metas" name="iniciativa" required>
                            <mat-option *ngFor="let m of metas" [value]="m" >
                              {{m.nome}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>

         </div>

       <!-- BOTOES -->
   <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>
    <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="cadastrar()"> Cadastrar
    </button>

    <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="atualizar()">
            Atualizar
    </button>

    <button *ngIf="mostrarBotaoLimpar()" 
            mat-raised-button 
            fxFlex="20%" 
            (click)="limpar()">
            Limpar
    </button>
    <button 
            mat-raised-button 
            fxFlex="20%" 
            (click)="cancelar()">
            Cancelar
    </button>

</div>
    </form>


</div>







