<mat-toolbar class="subtitulo">Instituição</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">

        <!-- DESCRICAO -->
        <mat-toolbar class="titulopartes">Descrição</mat-toolbar>
        <div fxLayout="row" style="margin-bottom: 20px" class="espaco" fxLayoutAlign="start start" fxLayoutGap="20px" fxFlexFill>
        
            <div id="row_dados" fxFlex="85%" fxFlexFill>
                <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

                    <mat-form-field fxFlex="100%" fxFlexOffset="20px">
                        <input #nome matInput maxlength="200" 
                               [(ngModel)]="instituicao.nome"
                               name="nome" 
                               placeholder="Nome da Instituição:" required>
                        <mat-hint align="end">{{nome.value.length}} / 200</mat-hint>
                    </mat-form-field>

                </div>
            </div>

            <!-- FOTO PERFIL -->
            <div fxFlex="16%" style="text-align: center">
                <button name="fotoPerfil" mat-fab class="botao" (click)="uploadFile.click()"  [style.background-image]="getBackground()">
                    <mat-icon class="nao-foto"></mat-icon>
                </button>
                <input #uploadFile type="file" style="display:none;" (change)="fileChangeEvent($event)"/>
            </div>
        </div>
       

        <!-- BOTOES -->
        <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
            fxFlexFill>
            <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button name="botaoConfirmar" fxFlex="20%"
                color="primary" [disabled]="formCadastro.invalid" (click)="cadastrar()"> Cadastrar
            </button>

            <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button name="botaoConfirmar" fxFlex="20%"
                color="primary" [disabled]="formCadastro.invalid" (click)="atualizar()">
                Atualizar
            </button>

            <button *ngIf="mostrarBotaoLimpar()" mat-raised-button fxFlex="20%" (click)="limpar()">
                Limpar
            </button>
            <button mat-raised-button fxFlex="20%" (click)="cancelar()">
                Cancelar
            </button>

        </div>
    </form>


</div>