<a mat-list-item >
    <div fxLayout="row" fxLayoutAlign="space-between stretch" style="width: 260px">
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <mat-icon>supervisor_account</mat-icon>
            <span class="nav-caption">Administrativo</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <mat-icon style="padding-top: 2px">chevron_right</mat-icon>
        </div>
    </div>
</a>
<mat-nav-list style="width: 260px">
   
<sub-menu-departamento></sub-menu-departamento>
</mat-nav-list>
