<a mat-list-item (click)="toggle()">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" [ngClass]="{'expandido': menuPrincipalService.expandido}">
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <mat-icon>supervisor_account</mat-icon>
            <span *ngIf="menuPrincipalService.expadindo"  class="nav-caption">Administrativo</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <mat-icon *ngIf="menuPrincipalService.expadindo" style="padding-top: 2px">{{getIcone()}}</mat-icon>
        </div>
    </div>
</a>
<mat-nav-list [ngClass]="{'expandido': menuPrincipalService.expandido}">

    <div [hidden]="!isMostrarSubMenu" [@menuState]="currentState">
       
        <!-- DEPARTAMENTO -->
        <sub-menu icone="business" titulo="Departamento" rota="departamento"></sub-menu>

         <!-- FUNCIONARIO -->
         <sub-menu icone="perm_contact_calendar" titulo="Funcionário" rota="funcionario"></sub-menu>

        <!-- PERSPECTIVA -->
        <sub-menu icone="pages" titulo="Perspectiva" rota="perspectiva"></sub-menu>

        <!-- OBJETIVOS -->
        <sub-menu icone="my_location" titulo="Objetivos" rota="objetivo"></sub-menu>

        <!-- INDICADORES -->
        <sub-menu icone="trending_up" titulo="Indicadores" rota="indicadores"></sub-menu>

        <!-- METAS -->
        <sub-menu icone="account_tree" titulo="Metas" rota="metas"></sub-menu>

        <!-- INICIATIVAS -->
        <sub-menu icone="highlight" titulo="Iniciativas" rota="iniciativas"></sub-menu>

        <!-- PLANOS DE ACAO -->
        <sub-menu icone="list_alt" titulo="Planos de Ação" rota="planosacao"></sub-menu>

        <!-- PROGRAMAS -->
        <sub-menu icone="apps" titulo="Programas" rota="programas"></sub-menu>

        <!-- FUNCIONARIOS DOS PROGRAMAS -->

        <!-- PROJETOS -->
        <sub-menu icone="folder_open" titulo="Projetos" rota="projeto"></sub-menu>

        <!-- FUNCIONARIOS DOS PROJETOS -->

        <!-- PRODUTOS -->
        <sub-menu icone="unarchive" titulo="Produtos" rota="produto"></sub-menu>
    </div>
</mat-nav-list>