<a mat-list-item (click)="toggle()" style="width: fit-content;">
        <div fxLayout="row" fxLayoutAlign="space-between stretch" [ngClass]="{'expandido': menuPrincipalService.expandido}"
            class="submenu">
            <div fxLayout="row" fxLayoutAlign="start stretch" matTooltip="Tabelas de Referência">
                <mat-icon>supervisor_account</mat-icon>
                <span *ngIf="menuPrincipalService.expandido" class="nav-caption">Tabelas de Referência</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start stretch">
                <mat-icon *ngIf="menuPrincipalService.expandido" style="padding-top: 2px">{{getIcone()}}</mat-icon>
            </div>
        </div>
    </a>
    
    <mat-nav-list [ngClass]="{'expandido': menuPrincipalService.expandido}">
    
        <div [hidden]="!isMostrarSubMenu" [@menuState]="currentState">
    
            <!-- GRAUS INSTRUCAO -->
            <div style="padding-left: 15px">
                <sub-menu *ngIf="verificaAcesso(getModulos().GRAUS_INSTRUCAO)" icone="share" titulo="Grau de Instrução" rota="grausinstrucao" toolTip="Grau de Instrução"></sub-menu>
            </div>

            <!-- QUESTIONARIO -->
            <div style="padding-left: 15px">
                <sub-menu *ngIf="verificaAcesso(getModulos().QUESTIONARIO)" icone="assignment" titulo="Questionário" rota="questionario" toolTip="Questionário"></sub-menu>
            </div>

            <!-- TALENTO -->
            <div style="padding-left: 15px">
                <sub-menu *ngIf="verificaAcesso(getModulos().TALENTO)" icone="grade" titulo="Talento" rota="talento" toolTip="Talento"></sub-menu>
            </div>

           <!-- CURSO DE FORMACAO -->
            <div style="padding-left: 15px">
                <sub-menu *ngIf="verificaAcesso(getModulos().CURSO_FORMACAO)" icone="library_books" titulo="Curso de Formação" rota="cursoformacao" toolTip="Curso de Formação"></sub-menu>
            </div>
            
            <!-- ENTIDADE SOCIAL -->
            <div style="padding-left: 15px">
                <sub-menu *ngIf="verificaAcesso(getModulos().ENTIDADE_SOCIAL)" icone="home_work" titulo="Entidade Social" rota="entidadesocial" toolTip="Entidade Social"></sub-menu>
            </div>
    
        </div>
    </mat-nav-list>
