<form class="example-container mat-elevation-z1 tela-login" style="padding: 10px;">
    <div fxLayout="column" fxLayoutAlign="space-around center" class="login-logo">
            <mat-icon class="logo-empresa"></mat-icon>
    </div>  
         
    <div fxLayout="column" fxLayoutAlign="space-around center">
        <h1 class="sign-in-title-greeting">Entre com seu Login e Senha</h1>
     </div>  
            
     <div class="elemento" fxLayout="column" fxLayoutAlign="space-around center" >
         <mat-form-field style="width: 100%">
            <input matInput name="userName" [(ngModel)]="usuario.userName" placeholder="Insira seu login" >
        </mat-form-field>
     </div>     
      
      <div class="elemento" fxLayout="column" fxLayoutAlign="space-around center" >
        <mat-form-field style="width: 100%">
            <input matInput name="senha" [(ngModel)]="usuario.senha" type="password" placeholder="Insira sua senha">
        </mat-form-field>
      </div>     
      
        <div class="elemento" fxLayout="column" fxLayoutAlign="space-around center"  style=" padding-bottom: 20px;  padding-top: 20px;"> 
                <button mat-raised-button style="width: 100%" color="primary" (click)="login(usuario)">Acessar</button>
        </div>  
        <div class="elemento " fxLayout="column" fxLayoutAlign="space-around center" >
          <button mat-flat-button  style="padding: 0px" [routerLink]="['/novasenha']" > <mat-label class="label-senha">Deseja trocar a senha?</mat-label></button>
        </div>       
       
</form>