<a mat-list-item (click)="toggle()" >
    <div fxLayout="row" fxLayoutAlign="space-between stretch" [ngClass]="{'expandido': menuPrincipalService.expandido}">
        <div fxLayout="row" fxLayoutAlign="start stretch" matTooltip="Organização Interna">
            <mat-icon>supervisor_account</mat-icon>
            <span *ngIf="menuPrincipalService.expandido"  class="nav-caption">Organização Interna</span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start stretch">
            <mat-icon *ngIf="menuPrincipalService.expandido" style="padding-top: 2px">{{getIcone()}}</mat-icon>
        </div>
    </div>
</a>
<mat-nav-list [ngClass]="{'expandido': menuPrincipalService.expandido}">

    <div [hidden]="!isMostrarSubMenu" [@menuState]="currentState">
        <!-- CURSO DE FORMACAO -->
       <!-- <sub-menu *ngIf="verificaAcesso(getModulos().CURSO_FORMACAO)"  icone="library_books" titulo="Curso de Formação" rota="cursoformacao" toolTip="Curso de Formação"></sub-menu> -->
      
       <sub-menu  icone="library_books" titulo="Instituição" rota="instituicao" toolTip="Instituição"></sub-menu>
       <sub-menu  icone="library_books" titulo="Unidade" rota="unidade" toolTip="Unidade"></sub-menu>
       <sub-menu  icone="library_books" titulo="Departamento" rota="departamento" toolTip="Departamento"></sub-menu>
       <sub-menu  icone="library_books" titulo="Parceiros" rota="empresa" toolTip="Parceiros"></sub-menu>
       <tb-referencia-organizacao-interna></tb-referencia-organizacao-interna>

    </div>
</mat-nav-list>
