a {
    text-decoration: none;
    color: white;
    width: 250px;
}

a:hover, a:active{
    color: royalblue
}

.nav-caption{
    display: inline-block;
    padding-left: 6px;
    padding-top: 3px
}

.botao{
    height: 40px;
    width: 40px;
    background: url(../../../assets/img/fundacao-bb.jpg) no-repeat 0 0;
    background-size: cover;
    background-attachment: initial;
    background-position: center;
    margin-left: 10px
}


.sidenav_container {
    min-width: 60px; 
    height: calc(100vh - 200px);
  }
  
  .jim {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
  }

 