<div fxLayout="column" fxLayoutAlign="start none" fxFill>
    <mat-nav-list style="width: 260px">
        
        <a mat-list-item [routerLink]='' routerLinkActive="router-link-active">
            <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
        </a>
        
        <modulo-pedagogico></modulo-pedagogico>
        <modulo-administrativo></modulo-administrativo>
        
        <mat-divider></mat-divider>
        
        <!-- MENU DE CONFIGURAÇOES -->
        <menu-configuracoes></menu-configuracoes>
        
    </mat-nav-list>

</div>