<div fxLayout="column" fxLayoutAlign="start center" fxFlexFill>
    <mat-nav-list>

        <div fxLayout="column" fxLayoutGap="20px" >
            <!-- FOTO PERFIL -->
            <button mat-fab #botao fxLayoutAlign="center center" class="botao"
                [style.background-image]="getBackground()">
                <mat-icon class="nao-foto"></mat-icon>
            </button>

            <div fxLayoutAlign="center center" fxLayout="row" fxLayoutGap="10px" *ngIf="autenticadorService?.usuarioEstaLogado" >
                <label *ngIf="menuPrincipalService.expandido" >Sessão: </label>
                <tempo-sessao></tempo-sessao>
            </div>

            <button mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">
                <mat-icon>home</mat-icon>
            </button>            
        </div>

        <mat-divider style="margin-top: 10px"></mat-divider>

        <!-- MENU ADMINISTRATIVO -->
        <modulo-administrativo *ngIf="verificaAcesso(getModulos().ADMINISTRATIVO)"></modulo-administrativo>

        <!-- MENU PEDAGÓGICO -->
        <modulo-pedagogico *ngIf="verificaAcesso(getModulos().PEDAGOGICO)"></modulo-pedagogico>

        <mat-divider></mat-divider>

        <!-- MENU DE CONFIGURAÇOES -->
        <menu-configuracoes></menu-configuracoes>

    </mat-nav-list>

</div>