<!-- ADMISSÃO -->
<mat-toolbar class="titulopartes">Admissão</mat-toolbar>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <mat-form-field fxFlex="15%" fxFlexOffset="20px">
        <input matInput maxlength="15" name="matricula" placeholder="Matrícula:" required [(ngModel)]="aluno.matriculaAluno">
    </mat-form-field>

    <mat-form-field fxFlex="15%">
        <input matInput name="dataDesligamento" [matDatepicker]="dataDesligamento" placeholder="Data de desligamento:"
            [(ngModel)]="aluno.dataDesligamento">
        <mat-datepicker-toggle matSuffix [for]="dataDesligamento"></mat-datepicker-toggle>
        <mat-datepicker #dataDesligamento></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="15%">
        <input matInput name="dataEntrada" [matDatepicker]="dataEntrada" placeholder="Data de entrada:"
            [(ngModel)]="aluno.dataEntrada">
        <mat-datepicker-toggle matSuffix [for]="dataEntrada"></mat-datepicker-toggle>
        <mat-datepicker #dataEntrada></mat-datepicker>
    </mat-form-field>

    <mat-form-field fxFlex="20%" fxFlexOffset="20px">
            <mat-label>Já atendido em outro órgão da rede:</mat-label>
            <mat-select [(ngModel)]="aluno.atendidoOrgaoRede" name="atendidoOrgaoRede">
                <mat-option *ngFor="let m of sim_nao" [value]="m.flag">
                    {{m.tipo}}
                </mat-option>
            </mat-select>
    </mat-form-field>

</div>


<!-- UNIDADE -->
<mat-toolbar class="titulopartes">Unidade</mat-toolbar>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <mat-form-field fxFlex= "100%" fxFlexOffset="20px">
        <mat-label>Selecione a Unidade</mat-label>
        <mat-select name="unidade" [(ngModel)]="aluno.unidade" required>
            <mat-option *ngFor="let u of unidades" [value]="u">
                {{u.nomeUnidade}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<!-- OUTRAS INFORMAÇÕES -->
<mat-toolbar class="titulopartes">Outras informações</mat-toolbar>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <mat-form-field fxFlexOffset="20px" fxFlex= "100%" appearance="outline" >
            <mat-label>Desligamento:</mat-label>
            <textarea matInput
                    name="desligamento"
                    [(ngModel)]="aluno.descDesligamento"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    maxlength="200"
                    ></textarea>
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <mat-form-field fxFlexOffset="20px" fxFlex= "100%" appearance="outline" >
            <mat-label>Problema saúde:</mat-label>
            <textarea matInput
                    name="descProblemaSaude"
                    [(ngModel)]="aluno.descProblemaSaude"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    maxlength="200"
                    ></textarea>
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <mat-form-field fxFlexOffset="20px" fxFlex= "100%" appearance="outline" >
            <mat-label>Medicamentos controlados:</mat-label>
            <textarea matInput
                    name="descMedicamentosControlados"
                    [(ngModel)]="aluno.descMedicamentosControlados"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    maxlength="200"
                    ></textarea>
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <mat-form-field fxFlexOffset="20px" fxFlex= "100%" appearance="outline" >
            <mat-label>Outras informações:</mat-label>
            <textarea matInput
                    name="descOutrasInformacoes"
                    [(ngModel)]="aluno.descOutrasInformacoes"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    maxlength="200"
                    ></textarea>
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <mat-form-field fxFlexOffset="20px" fxFlex= "100%" appearance="outline" >
            <mat-label>Forma de ingresso:</mat-label>
            <textarea matInput
                    name="descFormaIngressoEntidade"
                    [(ngModel)]="aluno.descFormaIngressoEntidade"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    maxlength="100"
                    ></textarea>
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <mat-form-field fxFlexOffset="20px" fxFlex= "100%" appearance="outline" >
            <mat-label>Obervação:</mat-label>
            <textarea matInput
                    name="observacoes"
                    [(ngModel)]="aluno.observacoes"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    maxlength="2500"
                    ></textarea>
    </mat-form-field>
</div>


