<mat-toolbar class="titulopartes">Dados responsável</mat-toolbar>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

  <mat-form-field fxFlex="15%" fxFlexOffset="20px">
      <input matInput name="dataVinculacao" [matDatepicker]="dataVinculacao" placeholder="Data de vinculação:"
             [(ngModel)]="responsavel.dataVinculacao" required>
      <mat-datepicker-toggle matSuffix [for]="dataVinculacao"></mat-datepicker-toggle>
      <mat-datepicker #dataVinculacao></mat-datepicker>
  </mat-form-field>


  <mat-form-field fxFlex="15%" fxFlexOffset="20px">
    <input matInput name="dataDesvinculacao" [matDatepicker]="dataDesvinculacao" placeholder="Data de Desvinculação:"
           [(ngModel)]="responsavel.dataDesvinculacao" required>
    <mat-datepicker-toggle matSuffix [for]="dataDesvinculacao"></mat-datepicker-toggle>
    <mat-datepicker #dataDesvinculacao></mat-datepicker>
  </mat-form-field>

  <mat-form-field fxFlex="25%">
    <mat-label>Tipo Responsável</mat-label>
    <mat-select [(ngModel)]="responsavel.tipoResponsavel" name="tipoResponsavel">
        <mat-option *ngFor="let m of tipoResponsavel.tipos" [value]="m.flag">
            {{m.tipo}}
        </mat-option>
    </mat-select>
  </mat-form-field>

</div>


<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <mat-form-field fxFlex="15%" fxFlexOffset="20px">
        <mat-label>Aluno tem o mesmo endereço do responsávl</mat-label>
        <mat-select [(ngModel)]="responsavel.mesmoEnderResponsavel" name="mesmoEnderResponsavel">
            <mat-option *ngFor="let m of sim_nao" [value]="m.flag">
                {{m.tipo}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>


<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 20px; margin-bottom: 10px" fxFlexFill>
  <mat-form-field fxFlexOffset="20px" fxFlex= "50%" appearance="outline" >
          <mat-label>Descrição do grau de parentesco</mat-label>
          <textarea matInput #descGrauParentesco
                    name="descGrauParentesco"
                    [(ngModel)]="responsavel.descGrauParentesco"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    maxlength="45"></textarea>
    <mat-hint align="end">{{descGrauParentesco.value.length}} / 45</mat-hint>
  </mat-form-field>


  <mat-form-field  fxFlex= "50%" appearance="outline" >
    <mat-label>Descrição do desligamento</mat-label>
    <textarea matInput #descDesligamento
              name="descDesligamento"
              [(ngModel)]="familiar.descDesligamento"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="2"
              maxlength="200"></textarea>
    <mat-hint align="end">{{descDesligamento.value.length}} / 200</mat-hint>
  </mat-form-field>

</div>
