<mat-accordion>

  <mat-expansion-panel [expanded]="openFormCadastro"
                       (closed)="openFormCadastro = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dados do responsável
      </mat-panel-title>
    </mat-expansion-panel-header>

    <cadastrar-responsavel [responsavel]="responsavel" 
                           [familiar]="familiar" 
                           (onAtualizarLista)="onAtualizarLista($event)">
    </cadastrar-responsavel>
  </mat-expansion-panel>


  <mat-expansion-panel [expanded]="!openFormCadastro"
                       (closed)="openFormCadastro = true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Lista de responsáveis ( {{familiar.responsaveis.length}} )
      </mat-panel-title>
    </mat-expansion-panel-header>
    
    <lista-responsaveis [familiar]="familiar"  
                        #listaResponsaveis
                        (onResponsavel)="onGetResponsavel($event)" 
                        (onNovo)="onOpenFormCadastro($event)">
    </lista-responsaveis>

  </mat-expansion-panel>

</mat-accordion>