<mat-toolbar color="primary">

    <!-- ESQUERDA -->
    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
        <div *ngIf="mostrarMenu" fxLayout="row" fxLayoutAlign="space-around center" >
            <button mat-button (click)="menuPrincipalToggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-form-field style="width: 300px">
                <mat-select name="unidade" #unidade="ngModel" [(ngModel)]="toolbarPrincipalService.unidadeSelecionada"
                    (selectionChange)="mudarUnidade($event.value)">
                    <mat-option *ngFor="let u of toolbarPrincipalService.unidades" [value]="u">
                        {{u.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- MEIO -->
        <div fxLayout="row" fxLayoutAlign="space-around center" >
            Crux Web
        </div>

        <!-- DIREITA -->
        <div *ngIf="mostrarMenu"  fxLayout="row" fxLayoutAlign="space-around center" >
            <span>
                {{toolbarPrincipalService.username}}
            </span>
            <button mat-button routerLink="" routerLinkActive="router-link-active"
                    (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Sair
                </button>
        </div>
    </div>

</mat-toolbar>