<mat-toolbar class="subtitulo">Cadastrar Material</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">

        <!-- DADOS BÁSICOS -->
        <mat-toolbar class="titulopartes">Dados Básicos</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
           
            <mat-form-field fxFlex="50%" fxFlexOffset="20px">
                <input matInput maxlength="200" name="descricao" 
                       placeholder="Descrição"
                       [(ngModel)]="materiaisAtividade.descricao" 
                       required>
            </mat-form-field>

            <mat-form-field fxFlex="15%" >
                    <input matInput name="dataAquisicao" [matDatepicker]="dataAquisicao" placeholder="Data de Aquisição:"
                        [(ngModel)]="materiaisAtividade.dataAquisicao" >
                    <mat-datepicker-toggle matSuffix [for]="dataAquisicao"></mat-datepicker-toggle>
                    <mat-datepicker #dataAquisicao></mat-datepicker>
            </mat-form-field>
            
            <mat-form-field fxFlex="20%" >
                    <input matInput name="dataVendaMAterial" [matDatepicker]="dataVendaMaterial" placeholder="Data de Venda:"
                        [(ngModel)]="materiaisAtividade.dataVendaMaterial" >
                    <mat-datepicker-toggle matSuffix [for]="dataVendaMaterial"></mat-datepicker-toggle>
                    <mat-datepicker #dataVendaMaterial></mat-datepicker>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
           
            <mat-form-field fxFlex="50%" fxFlexOffset="20px">
                <input matInput maxlength="200" name="descricaoOrigemMaterial" placeholder="Descrição da Origem do Material:"
                    [(ngModel)]="materiaisAtividade.descricaoOrigemMaterial">
            </mat-form-field>

            <mat-form-field fxFlex="15%" >
                <input matInput maxlength="200" name="qtdMaterial" placeholder="Quantidade do Material:"
                    [(ngModel)]="materiaisAtividade.qtdMaterial">
            </mat-form-field>

            <mat-form-field fxFlex="20%" >
                <input matInput maxlength="200" name="qtdMaterialVendida" placeholder="Quantidade Vendida do Material:"
                    [(ngModel)]="materiaisAtividade.qtdMaterialVendida">
            </mat-form-field>

            
        </div>

        <div fxLayout="row" fxLayoutGap="50px" fxFlexFill>
        <!-- PAGAMENTO -->
            <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex="30%" >
                <mat-toolbar class="titulopartes">Pagamento</mat-toolbar>
                <div fxLayout="row" fxLayoutGap="50px">
                    <mat-form-field fxFlexOffset="20px" fxFlex="35%">
                        <input currencyMask name="valorMaterial" placeholder="Valor do Material:" matInput
                            [(ngModel)]="materiaisAtividade.valorMaterial"
                            [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>

                    <mat-form-field fxFlex="50%">
                        <mat-label>Forma de Pagamengo:</mat-label>
                        <mat-select [(ngModel)]="materiaisAtividade.formaPagamento" name="formaPagamento">
                            <mat-option *ngFor="let m of formasPagamento" [value]="m.sigla">
                                {{m.descricao}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        </div>
            
        <!-- MATERIAL -->
        <div fxLayout="column" fxFlex="35%" >
            <mat-toolbar class="titulopartes">Material</mat-toolbar>
            <mat-form-field style="margin: 0 20px 0 20px" fxFlex="40%">
                <mat-label>Materiais:</mat-label>
                <mat-select [(ngModel)]="materiaisAtividade.material.id" name="material" required>
                    <mat-option *ngFor="let m of materiais" [value]="m.id">
                        {{m.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <!-- ATIVIDADE -->
        <div fxLayout="column" fxFlex="35%" >
            <mat-toolbar class="titulopartes">Atividade</mat-toolbar>
            <mat-form-field style="margin: 0 20px 0 20px" fxFlex="40%">
                <mat-label>Atividades</mat-label>
                <mat-select [(ngModel)]="materiaisAtividade.atividade.id" 
                            (selectionChange)=mostrarDadosAtividade($event.value)
                            name="atividade" 
                            required>
                    <mat-option *ngFor="let m of atividades" [value]="m.id">
                        {{m.descricao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </div>

    <div *ngIf="materiaisAtividade.atividade.id">
        <dados-atividade [atividade]="materiaisAtividade.atividade"></dados-atividade>
    </div>

    <!-- OBSERVACAO -->
    <mat-toolbar class="titulopartes">Observação</mat-toolbar>
    <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
        <mat-form-field  fxFlexOffset="20px" fxFlex= "100%" appearance="outline" >
            <mat-label>Observação:</mat-label>
            <textarea  matInput #message
                    name="observacoes"
                    [(ngModel)]="materiaisAtividade.observacao"
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    maxlength="200"
                    ></textarea>
            <mat-hint align="end">{{materiaisAtividade?.observacao?.length}} / 200</mat-hint>
        </mat-form-field>
    </div>


        <!-- BOTOES -->
   <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>
    <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="cadastrar()"> Cadastrar
    </button>

    <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="atualizar()">
            Atualizar
    </button>

    <button *ngIf="mostrarBotaoLimpar()" 
            mat-raised-button 
            fxFlex="20%" 
            (click)="limpar()">
            Limpar
    </button>
    <button 
            mat-raised-button 
            fxFlex="20%" 
            (click)="cancelar()">
            Cancelar
    </button>

</div>
    </form>


</div>
