<mat-toolbar class="subtitulo">Atividade</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">

    
        <!-- <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab> -->

        <mat-tab-group>

                <!-- DADOS ATIVIDADE -->
                <mat-tab label="DADOS DA ATIVIDADE">
                    <form #formCadastroDadosAtividade="ngForm">
                        <dados-atividade [atividade]=atividade></dados-atividade>
                    </form>
                </mat-tab>

                <!-- DADOS COLABORADORES ATIVIDADE -->
                <mat-tab label="COLABORADORES" >
                    <form #formCadastroColaboradoresAtividade="ngForm">
                        <colaboradores-atividade [colaboradoresAtividade]=atividade.colaboradoresAtividade>
                        </colaboradores-atividade>
                    </form>
                </mat-tab>

        </mat-tab-group>

        <!-- BOTOES -->
        <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
            fxFlexFill>
            <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button name="botaoConfirmar" fxFlex="20%"
                color="primary"
                [disabled]="formCadastroDadosAtividade.invalid || formCadastroColaboradoresAtividade.invalid"
                (click)="cadastrar()"> Cadastrar
            </button>

            <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button name="botaoConfirmar" fxFlex="20%"
                color="primary"
                [disabled]="formCadastroDadosAtividade.invalid || formCadastroColaboradoresAtividade.invalid"
                (click)="atualizar()">
                Atualizar
            </button>

            <button *ngIf="mostrarBotaoLimpar()" mat-raised-button fxFlex="20%" (click)="limpar()">
                Limpar
            </button>
            <button mat-raised-button fxFlex="20%" (click)="cancelar()">
                Cancelar
            </button>

        </div>
</div>