.tela-escolher-unidade{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    /* border: 3px solid #73AD21; */
    
}

.botao{
    height: 150px;
    width: 150px;
    /* background: url(../../../../assets/img/fundacao-bb.jpg) no-repeat 0 0; */
    background-size: cover;
    margin: auto;
    background-attachment: initial;
    background-position: center;
}

.center {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
