<div class="tela-escolher-unidade" fxLayout="column">

    <div fxLayoutAlign="center">
        <h2>Escolha a unidade que deseja acessar: </h2>
    </div>

    <div class="botoes" fxLayout="row wrap" fxLayoutGap="25px">

        <div fxLayout="column" fxLayoutAlign="space-around stretch" *ngFor="let item of unidades">

            <button mat-raised-button class="botao" (click)="escolherUnidade(item.id)">
                <mat-icon class="nao-foto"></mat-icon>
            </button>
            <div class="center">{{item.nome}}</div>
        </div>


    </div>
</div>