<div class="mat-elevation-z1 tela-escolher-unidade">

    <div fxLayout="column" fxLayoutAlign="space-around center" >
        <h1 class="sign-in-title-greeting">Escolha a unidade que deseja acessar: </h1>
    </div>
    
    <div class="botoes" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="25px">

        <div fxLayout="column" fxLayoutAlign="space-around stretch" *ngFor="let item of unidades">

            <button mat-raised-button class="botao" (click)="escolherUnidade(item.id)"> 
                <mat-icon class="chaves"></mat-icon>
            </button>
            <div class="center">{{item.nome}}</div>
        </div>

        
    </div>