<mat-toolbar class="subtitulo">Cadastrar Talentos do Funcionário</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">

        <!-- DADOS INICIAIS -->
        <mat-toolbar class="titulopartes">Dados Iniciais</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <mat-form-field fxFlex="45%" fxFlexOffset="20px">
                <input matInput maxlength="200" name="respostaTalento" placeholder="Resposta do Talento:"
                    [(ngModel)]="talento.respostaTalento" required>
            </mat-form-field>

            <mat-form-field fxFlex="15%" fxFlexOffset="20px">
                <input matInput name="dataRespostaTalento" [matDatepicker]="dataRespostaTalento" placeholder="Data:"
                    [(ngModel)]="talento.dataRespostaTalento">
                <mat-datepicker-toggle matSuffix [for]="dataRespostaTalento"></mat-datepicker-toggle>
                <mat-datepicker #dataRespostaTalento></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex="20%" fxFlexOffset="20px">
                <input matInput type="number" name="nrNotaCompetencia" placeholder="Número Nota Competência:"
                    [(ngModel)]="talento.nrNotaCompetencia" required>
            </mat-form-field>

        </div>

        <!-- PESSOAS -->
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center stretch" fxFlexFill >
                <mat-toolbar class="titulopartes">Pessoa</mat-toolbar>
                <mat-form-field fxFlex="80%" style="margin-left: 20px; margin-right: 20px">
                <mat-label>Seleciona uma pessoa:</mat-label>
                <mat-select [(ngModel)]="talento.pessoasFisica.id" name="pessoasFisica" required>
                    <mat-option *ngFor="let o of pessoas" [value]="o.id">
                        {{o.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            </div>

            <!-- QUESTIONARIO -->
            <div fxLayout="column" fxFlex="50%" fxLayoutAlign="center stretch" fxFlexFill >
                    <mat-toolbar class="titulopartes">Questionário</mat-toolbar>
                    <mat-form-field fxFlex="80%" style="margin-left: 20px; margin-right: 20px">
                    <mat-label>Seleciona um questionário:</mat-label>
                    <mat-select [(ngModel)]="talento.questionario.id" name="questionario" required>
                        <mat-option *ngFor="let o of questionarios" [value]="o.id">
                            {{o.descricao}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
        </div>

         <!-- BOTOES -->
   <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>
    <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="cadastrar()"> Cadastrar
    </button>

    <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastro.invalid"
            (click)="atualizar()">
            Atualizar
    </button>

    <button *ngIf="mostrarBotaoLimpar()" 
            mat-raised-button 
            fxFlex="20%" 
            (click)="limpar()">
            Limpar
    </button>
    <button 
            mat-raised-button 
            fxFlex="20%" 
            (click)="cancelar()">
            Cancelar
    </button>

</div>
    </form>


</div>