<mat-toolbar class="titulopartes">Dados da Atividade</mat-toolbar>

<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
    <div fxFlex="20%" fxFlexOffset="20px" fxFlexFill>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            <mat-form-field fxFlex="100%" fxFlexOffset="20px">
                <input matInput name="dataInicio" 
                    [matDatepicker]="dataInicio"
                    placeholder="Data de Início" 
                    [(ngModel)]="atividade.dataInicio" 
                    disabled>
                <mat-datepicker-toggle matSuffix [for]="dataInicio"></mat-datepicker-toggle>
                <mat-datepicker #dataInicio></mat-datepicker>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            <mat-form-field fxFlex="100%" fxFlexOffset="20px">
                <input matInput name="dataFim" 
                        [matDatepicker]="dataFim"
                        placeholder="Data de Fim" 
                        [(ngModel)]="atividade.dataFim" 
                        disabled>
                <mat-datepicker-toggle matSuffix [for]="dataFim"></mat-datepicker-toggle>
                <mat-datepicker #dataFim></mat-datepicker>
            </mat-form-field>
        </div>
    </div>    

    <div fxFlex="80%" fxFlexOffset="20px" fxFlexFill>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            <mat-form-field style="margin: 0 0 0 20px" fxFlex="100%" appearance="outline">
                <mat-label>Descrição atividade:</mat-label>
                <textarea #observacoes matInput name="atividade" 
                        [(ngModel)]="atividade.descricao" 
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" 
                        cdkAutosizeMinRows="3" 
                        maxlength="200" 
                        disabled>
                </textarea>
            </mat-form-field>
        </div>
    </div>    
</div>



